@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$mainFontColor: #000;

@media all and (max-width: 600px) {
    .rightDiv { display: none; }
}

body{
	color: $mainFontColor;
}

#contactInfo{
	font-size: 17px;
}